@model ProjectDashboard.Models.UserHomeViewModel

@{
    ViewData["Title"] = "User Page - Home";
    ViewData["navbarHideToggle"] = true;
    ViewData["isMenu"] = false;
    ViewData["menuFixed"] = "";
}
@* ************** Content ************** *@

<style>
    #calendar {
        margin: 20px auto;
        max-width: 1200px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .fc-toolbar-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .fc-daygrid-event {
        white-space: normal;
        padding: 5px;
        border-radius: 4px;
    }

    .fc-more-link {
        color: #0d6efd;
        text-decoration: underline;
    }

    .fc-daygrid-day-number {
        font-weight: bold;
        color: #333;
    }

    .welcome-header {
        text-align: left;
        margin-left: 2%;
        color: #A2A4FF;
        font-weight: bolder;
        margin-bottom: -0.5%;
        margin-top: -2.5%;
        font-size: 1.25rem;
    }

    .calendar-link {
        color: grey;
        font-size: 0.9rem;
        text-decoration: none;
        margin-left: 10px;
        transition: color 0.3s ease;
    }

    .calendar-link:hover {
        color: #A2A4FF;
        text-decoration: underline;
    }

    .calendar-container {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }
</style>


<!-- FullCalendar CSS -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>

<div class="layout-demo-wrapper">

    <div class="layout-demo-info">
        <h5 class="welcome-header">
            Welcome @Model.employee.Name!
            <a href="#calendar-section" class="calendar-link">Get into your Calendar?</a>
        </h5>
        <!-- Content wrapper -->
        <div class="content-wrapper">

            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">


                <!-- Cards with few info -->
                <div class="row">
                    <!-- single card  -->
                    <div class="col-12 mb-6">
                        <div class="card">
                            <div class="card-widget-separator-wrapper">
                                <div class="card-body card-widget-separator">
                                    <div class="row gy-4 gy-sm-1">
                                        <div class="col-sm-6 col-lg-3">
                                            <div
                                                class="d-flex justify-content-between align-items-center card-widget-1 border-end pb-4 pb-sm-0">
                                                <div>
                                                    <h4 class="mb-0">@Model.totalProjectsAssigned</h4>
                                                    <p class="mb-0"><a asp-controller="UserHome"
                                                            asp-action="Projects">Project(s)</a> Assigned To</p>
                                                </div>
                                                <div class="avatar me-sm-6">
                                                    <span
                                                        class="avatar-initial rounded bg-label-secondary text-heading">
                                                        <i class="bx bx-user bx-26px"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <hr class="d-none d-sm-block d-lg-none me-6">
                                        </div>
                                        <div class="col-sm-6 col-lg-3">
                                            <div
                                                class="d-flex justify-content-between align-items-center card-widget-2 border-end pb-4 pb-sm-0">
                                                <div>
                                                    <h4 class="mb-0">@Model.totalTasksAssigned</h4>
                                                    <p class="mb-0"><a href="#">Task(s)</a> Assigned To</p>
                                                </div>
                                                <div class="avatar me-lg-6">
                                                    <span
                                                        class="avatar-initial rounded bg-label-secondary text-heading">
                                                        <i class="bx bx-file bx-26px"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <hr class="d-none d-sm-block d-lg-none">
                                        </div>
                                        <div class="col-sm-6 col-lg-3">
                                            <div
                                                class="d-flex justify-content-between align-items-center border-end pb-4 pb-sm-0 card-widget-3">
                                                <div>
                                                    <h4 class="mb-0">@Model.completedTasksCount</h4>
                                                    <p class="mb-0">Tasks Completed</p>
                                                </div>
                                                <div class="avatar me-sm-6">
                                                    <span
                                                        class="avatar-initial rounded bg-label-secondary text-heading">
                                                        <i class="bx bx-check-double bx-26px"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <h4 class="mb-0">@Model.pendingTasksCount</h4>
                                                    <p class="mb-0">Tasks In Progress</p>
                                                </div>
                                                <div class="avatar">
                                                    <span
                                                        class="avatar-initial rounded bg-label-secondary text-heading">
                                                        <i class="bx bx-error-circle bx-26px"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /single card  -->

                </div>
                <!--/ Cards with few info -->


                <!-- Centered align Cards -->
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-6">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h6 class="card-title fw-normal m-0 me-2">Completed Projects</h6>
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title mb-0">@Model.completedProjectsCount</h4>
                                <p class="mb-2">Out of @Model.totalProjectsAssigned</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-6">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h6 class="card-title fw-normal m-0 me-2">Overdue Tasks</h6>
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title mb-0">@Model.overdueTasksCount</h4>
                                <p class="mb-2">Out of @Model.totalTasksAssigned</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-6">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h6 class="card-title fw-normal m-0 me-2">Project in Progress</h6>
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title mb-0">--</h4>
                                <p class="mb-2">Out of --</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-6">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h6 class="card-title fw-normal m-0 me-2">Tasks in Progress</h6>
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title mb-0">--</h4>
                                <p class="mb-2">Out of --</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Centered align Cards -->

                @* Calendar Section *@
                <div id="calendar-section" class="calendar-container">
                    <div id="calendar"></div>
                </div>

            </div>
            <!-- / Content -->




        </div>
    </div>
</div>



@section PageScripts {
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                                                                                @* plugins : ['dayGrid', 'timeGrid', 'list'], *@
                initialView: 'dayGridMonth',
                height: 'auto',
                contentHeight: 'auto',
                aspectRatio: 1.5,
                headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
                dayMaxEvents: true,
                eventTimeFormat: {
                hour: 'numeric',
                minute: '2-digit',
                meridiem: 'short'
            },
                events: @Html.Raw(Json.Serialize(Model.calendarEvents)), // Pass events from ViewModel
                eventColor: '#378006', // Default event color (green)
                eventTextColor: '#fff', // White text for better contrast

                                                                            });
        calendar.render();
                                                                        });


    </script>
}